.parent{
  background-color: red;
  height: 400px;
  padding: 10px;
  margin-bottom: 50px;

  text-align: right;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 15px;
}

.child{
  height: 50px;
  background: green;
  border: 1px solid black;
  text-align: right;
  font-weight: bolder;
  text-transform: uppercase;
}

.child-five.a{
  position: absolute;
  inline-size: 1000px;
  overflow-wrap: break-word;
  text-align: left;
}

.child-one{
  background-color: blue;
}

.child-two{
  background-color: orange;
}

.child-three{
  background-color: purple;
}

.child-four{
  background-color: yellow;
}

.child-five{
  background-color: white;
}

.child-six{
  background-color: black;
  color: white;
}
