.pt{
  background-color: red;
  height: 200px;
  padding: 10px;
}

.ge{
  background-color:  green;
  height: 50px;
}

.bl{
  background-color: blue;
  height: 50px;

}

.gy{
  background-color: grey;
  height: 50px;
}


.pt.dad{
  margin-top: 50px;
}
