*{
  padding: 0;
  border: 0;
  margin: 0;
}

.box-one{
  background-color: red;

  padding: 30px;
  border: 20px solid green;
  margin: 40px;

  width: 100px;
  height: 100px;
}

.box-two{
  background-color: blue;

  padding: 30px;
  border: 20px solid grey;
  margin: 80px;

  width: 100px;
  height: 100px;
}
