*{
  padding: 0;
  border: 0;
  margin: 0;

  box-sizing: border-box;
}

.box-one{
  background-color: red;

  padding: 30px;
  border: 20px solid green;
  margin: 60px;

  width: 100px;
  height: 100px;
}

.box-two{
  background-color: blue;

  padding: 20px;
  border: 30px solid grey;
  margin: 30px;

  width: 100px;
  height: 100px;

}
