
*{

  border: solid 1px;
  margin: 5px;

}

.red{
  background-color: red;
}

#green{
  background-color: green;
}

li.blue{
  background-color: blue;
}

.blue, li.red.q {
  text-align: center;
  font-weight: 600;
}



.a li{
  color: orange;
}

.a > li{
  color: violet;
}


li.red ~ li{
  border-color: yellow;
  border-width: 3px;
}


li.red  + li{
  border-color: indigo;
  border-width: 6px;
}

li:hover{
  background-color: black;
  color: white;
  font-weight: 400;
  height: 20px;
}

input:focus{
  background-color: grey;
}
