*{
  margin: 0;
}

.flex-container{
  display: flex;
  background-color: yellow;

}

.flex-item{
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: #dfdfdf;
  text-align: center;
}

.item-1{
  min-height: 100px;
}

.item-2{
  min-height: 150px;
}

.item-3{
  min-height: 200px;
}
