.pt {
  background-color: red;
  height: 200px;
  padding: 10px;
  margin-top: 30px;
}

.ge {
  background-color: green;
  height: 50px;
}

.bl {
  background-color: blue;
  height: 50px;
}

.gy {
  background-color: grey;
  height: 50px;
}


.two{
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: white;
}

.son-two{
  position: fixed;
  background-color: white;
}
